#banner-int {
    width: 100%;
    display: table;
    position: relative;
}

#banner-int .banner-img {
    width: 60%;
    height: 100%;
    display: table;
    background-image: url("../../../../images/banners/buona_vita_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
}

#banner-int .banner-img.banner-fisioterapia{
    background-image: url("../../../../images/banners/fisioterapia.jpg");
}

#banner-int .banner-fix{
    width: 50%;
    height: 100%;
    display: table;
    background-color: #3a8b6b;
    position: absolute;
    right: 0;
    top: 0;
    clip-path: polygon(150px 0%, 100% 0%, 100% 100%, 0% 100%);
}

.banner-int {
    width: 1170px;
    margin: auto;
    height: 30vh;
    min-height: 200px;
    position: relative;
}

.banner-int h1 {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 48px;
    color: #FFF;
    margin: 0;
    display: table;
    max-width: 400px;
    text-align: right;
    font-weight: 200;
    text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
    .banner-int {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 768px) {
    .banner-int {
        height: 20vh;
        min-height: 150px;
    }

    .banner-int h1 {
        font-size: 40px;
    }

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 480px) {
    .banner-int {
        height: 25vh;
        min-height: 200px;
    }

    .banner-int h1 {
        font-size: 30px;
    }
}